<div class="main-tab nav-tabs" id="nav-tab">
    <div class="btn-tab-1 active" id="img-tab" data-bs-toggle="tab" data-bs-target="#img-tab" type="button"
      role="tab" aria-controls="img-tab" aria-selected="true">
      <p class="active m-0 lato-med font-16">Photo</p>
      <div class="main-border">
        <div class="fil-1 fil-border">
        </div>
      </div>
    </div>
    <div class="btn-tab-2" id="video-tab" data-bs-toggle="tab" data-bs-target="#video-tab" type="button"
      role="tab" aria-controls="video-tab" aria-selected="false">
      <p class="m-0 text-end lato-med font-16">Video</p>
      <div class="main-border">
        <div class="fil-2 ">
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content" id="nav-tab">
    <div class="tab-pane fade show active" id="img-tab" role="tabpanel" aria-labelledby="img-tab">img-tab</div>
    <div class="tab-pane fade" id="video-tab" role="tabpanel" aria-labelledby="video-tab">video-tab</div>

  </div>